Video preprocessing/Processed_data_fake/
Video preprocessing/Processed_data_real/
Video preprocessing/__pycache__/
*.png
Video preprocessing/tester.py
Video preprocessing/data.py
Video preprocessing/normalized_data
Video preprocessing/tmp.py
datasets/

