video_analysis/video_preprocessing/Processed_data_fake/
video_analysis/video_preprocessing/Processed_data_real/
video_analysis/video_preprocessing/__pycache__/
*.png
video_analysis/video_preprocessing/tester.py
video_analysis/video_preprocessing/data.py
video_analysis/video_preprocessing/normalized_data
video_analysis/video_preprocessing/tmp.py
datasets/
normalized_data_fake/
normalized_data_real/
video_analysis/video_model/__pycache__
video_analysis/video_model/tmp.py
video_analysis/video_model/data.py
video_analysis/models
video_analysis/test_videos
video_analysis/video_preprocessing/frames
video_analysis/video_preprocessing/images
video_analysis/video_preprocessing/images_extraction.py
video_analysis/__pycache__
__pycache__
*.whl