.explanationDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: auto;
    width: 340px;

    background-color: #a6cfe069;
    position: relative;
    
    border: 1px solid #000;

    margin: 40px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.637);
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}