.explenationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
    background-color: #a6cfe069;
    position: absolute;
    height: calc(100% - 75px);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.explenationDiv h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.explenationDiv p {
    font-size: 25px;
    margin: 20px;
}
