.explenationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: auto;
    width: 70%;

    background-color: #a6cfe069;
    position: relative;
    
    border: 1px solid #000;

    margin: 40px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.637);
}

.explenationDiv h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.explenationDiv p {
    font-size: 20px;
    margin: 20px;
}

.image {
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.637);
    border: 1px solid #383838;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}

.logoDiv {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    height: 60px;
    width: 60px;
}

.gridLayout {
    display: flex;
    flex-direction: row;
}



