.DetectionTypeChoiceDiv {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: auto;
}

.ChoiceButton {
    height: 60px;
    width: auto;
    background-color: rgb(32, 32, 32);
    margin: 20px;
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0, 0.342);
    border: 3px solid transparent;

    color: white;
}

.ChoiceButtonActive {
    height: 60px;
    width: auto;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0, 0.342);

    color: rgb(0, 0, 0);

    border: 3px solid rgb(0, 0, 0);
}

.ChoiceButtonActive h2 {
    user-select: none;
}



.ChoiceButton h2 {
    user-select: none;
}

.ChoiceButton:hover {
    background-color: rgb(48, 48, 48);
}

.ChoiceButton:active {
    background-color: rgb(124, 124, 124);
}

.dropArea {
    width: 90%;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.342);
    background-color: #f7f8ff;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uploadImageDiv {
    width: 95%;
    height: 98%;
    border-radius: 20px;
    outline: 2px dashed #bbb5ff;
    background: #f7f8ff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uploadImageDivDraggable {
    width: 95%;
    height: 98%;
    border-radius: 20px;
    outline: 2px dashed #6456fd;
    background: #f7f8ff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uploadImageDiv:hover {
    background: #f0f1ff;
}

.uploadImage {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.uploadImageDiv p {
    font-size: 20px;
    flex-wrap: wrap;
    max-width: 350px;
    white-space: wrap;
    overflow-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;

}

.uploadImageDiv span {
    display: block;
    font-size: 15px;
    color: #777;
    margin-top: 15px;
}

#Checkmark {
    color: rgb(0, 219, 48);
}

#Error {
    color: rgb(219, 0, 0);
}

.uploadButton {
    width: 100px;
    height: 40px;
    background-color: #f7f8ff;
    border: 2px solid #bbb5ff;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 20px;
    color: #bbb5ff;
}

.uploadButton:hover {
    background-color: #2c3180;
    cursor: pointer;
    
}

.Dropzone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

