.navBar {
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;

    background-color: #333;
    border-bottom: 2px solid gold;
    color: white;
    top: 0;
    width: 100%;
    height: 73px;
    position: absolute;

    --main-bg-color: #333;
    z-index: 10;

    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);

}




.mrLogo {
    width: 60px;
    height: 60px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    animation: glow 4s infinite alternate-reverse;
    background-color: transparent;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes glow {
    from {
      box-shadow: 0 0 40px 0px rgb(0, 0, 0);
    }
    to {
      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.719);
    }
  }


.mrLogo:before {
    content:"";
    background-image: conic-gradient(
        rgba(255, 255, 255, 0.144) 20deg,
        rgba(249, 249, 255, 0.438) 360deg
    );
    height: 105px;
    width: 105px;
    position:absolute;
    animation: rotate 7s infinite cubic-bezier(0.4, 0.2, 0.2, 0.8);
    box-shadow: 0px 0px 0px 5px gold;
    border-radius: 20%;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

.mrLogo:after {
    content:"";
    height: 130px;
    width: 130px;
    position: absolute;
    border-radius: 100%;
    color: #04b0ee;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: var(--main-bg-color);



}

.innerLogoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    overflow-y: hidden;
    overflow-x: hidden;
    
    
    
}

.logoImage {
    z-index: 3;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: -8px;


}

.logoWrapper {
    background-color: var(--main-bg-color);
    height: 130px;
    width: 130px;
    top: 0px;
    border-radius: 100%;
    border: 2px solid gold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 15px;
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    
}

.navbarButtonDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50%;
    margin-left: 170px;
    text-align: center;
}

.navbarButton {
    text-decoration: none;
    background-color: #0f0f0f2c;
    border: 0px solid transparent;
    color: #ffffff;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-top: 7px;
    margin-bottom: 7px;
    width: 100px;

    display: flex; 
    justify-content: center;
}

.navbarButton:hover {
    color: #000000;
    background-color: #ffffff;
    font-size: 1.2rem;
    font: bold;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}