.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #c4d9e2;
    overflow-x: hidden;
    min-height: calc(100vh - 75px); ;
    margin-top: 75px;
}
